@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "SF Display";
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: white;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  transition: 0.3s;
}
body a:hover, body a:focus {
  color: #EFB100;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
body .go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #EFB100;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transform: translateY(100px);
}
body .go-top:hover {
  background: #EFB100;
}
body .go-top:hover span:nth-child(1) {
  transform: rotate(-35deg);
  left: 7px;
  top: 18px;
}
body .go-top:hover span:nth-child(2) {
  transform: rotate(35deg);
  left: 19px;
  top: 18px;
}
body .go-top span {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 2px;
  background: white;
  transition: 0.2s;
}
body .go-top span:nth-child(1) {
  left: 5px;
}
body .go-top span:nth-child(2) {
  left: 20px;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  box-shadow: 0 0 0 0.2rem rgba(239, 177, 0, 0.5);
}

body .xzoom-source img,
body .xzoom-preview img,
body .xzoom-lens img {
  z-index: 1051;
}
body .overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.05);
}
body .overlay-menu.overlay-in {
  display: block;
}
body .modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}
body .mfp-bg {
  z-index: 1052;
}
body .mfp-wrap {
  z-index: 1053;
}
body .swal2-popup .swal2-styled.swal2-confirm {
  background: #EFB100;
}
body .swal2-popup .swal2-styled.swal2-confirm a {
  font-weight: 500;
}
body .ui-widget.ui-widget-content {
  z-index: 1050;
}

.pagination {
  margin-bottom: 10px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #666;
  color: #585858;
  border-radius: 3px;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  background: none;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus, .pagination .page-item .page-link.active {
  background: #EFB100;
  color: white;
}

.bread-crumb {
  color: black;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: left;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
  justify-content: left;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "/";
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #EFB100;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #EFB100;
}

.quickview {
  cursor: url("../img/cursor.png"), auto;
}
.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 {
  color: #EFB100;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 span {
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-left: 20px;
}
.quickview .modal-content .modal-body p {
  margin-bottom: 20px;
  color: #656565;
}
.quickview .modal-content .modal-body input {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  margin: 0 5px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body .cart-btn {
  border: 2px solid #EFB100;
}
.quickview .modal-content .modal-body .cart-btn:hover {
  background: none;
  border-color: black;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
  margin: 1px;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #EFB100;
}
.quickview .modal-content .modal-body .tags {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.quickview .quantity {
  margin: 30px 0;
}
.quickview .quantity a {
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background: #EFB100;
  color: white;
  transition: 0.3s;
  border: 2px solid #EFB100;
}
.quickview .quantity a:hover {
  background: none;
  color: #EFB100;
}
.quickview .tags span a {
  color: #EFB100;
}
.quickview .tags span a:hover {
  text-decoration: underline;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #EFB100 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.contact-page {
  margin-bottom: 50px;
}
.contact-page .box-contact {
  color: black;
}
.contact-page .box-contact input {
  height: 40px;
}
.contact-page .box-contact textarea {
  height: 100px;
}

.footer {
  background: #252525;
  color: white;
  padding-top: 30px;
}
.footer h4 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #383838;
  text-transform: uppercase;
  font-weight: 600;
}
.footer h4 i {
  float: right;
  margin-top: -4px;
  display: none;
}
.footer ul li {
  margin-bottom: 15px;
  color: #ccc;
}
.footer ul li i {
  margin-right: 10px;
  color: #EFB100;
  font-size: 14px;
}
.footer ul li a {
  color: #ccc;
  transition: 0.3s;
  font-size: 0.9em;
}
.footer ul li a:hover {
  color: #EFB100;
}
.footer i {
  font-size: 20px;
  margin-right: 15px;
  transition: 0.3s;
}
.footer i:hover {
  color: #EFB100;
}
.footer .support h5 {
  text-transform: uppercase;
}
.footer .support img {
  float: left;
  margin-right: 5px;
  width: 70px;
}
.footer .support h6 {
  color: #EFB100;
}
.footer .copyright {
  margin-top: 15px;
  padding: 10px 0;
  border-top: 1px solid #383838;
}

.header-top {
  background: #EFB100;
  color: white;
  height: 50px;
}
.header-top h5 {
  padding: 14px 0;
}
.header-top .search {
  text-align: right;
  margin: 10px 0;
}
.header-top .search form {
  position: relative;
}
.header-top .search input {
  width: 300px;
  height: 30px;
  border: 0;
  border-bottom: 1px solid white;
  background: none;
  color: white;
}
.header-top .search input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-top .search input::placeholder {
  color: white;
}
.header-top .search button {
  position: absolute;
  top: -3px;
  right: 0;
  color: white;
  text-align: center;
  border: 0;
  background: none;
  cursor: pointer;
}
.header-top .search button i {
  font-size: 24px;
  transition: 0.3s;
}
.header-top .search button i:hover {
  color: black;
}

.header-bottom .hotline {
  margin: 20px 0;
  position: relative;
}
.header-bottom .hotline::before {
  content: "";
  width: 37px;
  height: 40px;
  background-image: url("../img/icon-header.png");
  position: absolute;
  top: 7px;
  left: 0;
}
.header-bottom .hotline h5 {
  margin-left: 20px;
  margin-bottom: 5px;
}
.header-bottom .hotline h3 {
  margin-left: 45px;
}
.header-bottom .hotline h3 a {
  font-weight: 600;
  color: #EFB100;
  transition: 0.3s;
}
.header-bottom .hotline h3 a:hover {
  letter-spacing: 1px;
}
.header-bottom .logo {
  height: 80px;
  margin: 10px 0;
}
.header-bottom .contact {
  margin: 20px 0;
  position: relative;
}
.header-bottom .contact::before {
  content: "";
  width: 37px;
  height: 40px;
  background-image: url("../img/icon-header.png");
  position: absolute;
  right: 0;
  top: 9px;
  transform: rotateY(180deg);
}
.header-bottom .contact h5 {
  margin-right: 20px;
  margin-bottom: 5px;
}
.header-bottom .contact h3 {
  margin-right: 45px;
}
.header-bottom .contact h3 a {
  font-weight: 600;
  color: #EFB100;
  text-transform: uppercase;
  transition: 0.3s;
}
.header-bottom .contact h3 a:hover {
  letter-spacing: 1px;
}

.menu {
  z-index: 1000;
  position: relative;
  height: 60px;
}
.menu.down {
  position: fixed;
  width: 100%;
  top: 0;
  right: 15px;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.menu.down .main-menu {
  border: 0;
}
.menu.down .main-menu .nav li {
  padding: 7px 0;
}
.menu .main-menu {
  position: relative;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.menu .main-menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: black;
  margin: 10px 0;
  z-index: 10000;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.menu .main-menu .toggleMenu i {
  font-size: 26px;
}
.menu .main-menu .nav {
  display: block;
  text-align: center;
  margin-top: -1px;
  padding-bottom: 1px;
}
.menu .main-menu .nav li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  padding: 10px 0;
  position: relative;
}
.menu .main-menu .nav li:hover ul {
  transform: none;
  opacity: 1;
  visibility: initial;
}
.menu .main-menu .nav li:hover ul li {
  display: block;
}
.menu .main-menu .nav li ul {
  position: absolute;
  width: 300px;
  left: 0;
  top: 58px;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  border: 0;
  text-align: left;
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.menu .main-menu .nav li ul li {
  padding: 0;
  display: none;
}
.menu .main-menu .nav li ul li a {
  font-weight: 400;
  text-transform: initial;
  font-size: 14px;
  color: #444444;
  padding: 10px 20px;
  display: block;
  width: 299px;
  border-bottom: 1px solid #f4f4f4;
}
.menu .main-menu .nav li ul li a:hover {
  color: white;
  background: #EFB100;
}
.menu .main-menu .nav li .active {
  color: #EFB100;
}
.menu .main-menu .nav li a {
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  padding: 0;
  display: initial;
  padding: 22px 17px;
  text-transform: uppercase;
}
.menu .main-menu .nav li a:hover {
  color: #EFB100;
}
.menu .main-menu .nav li a i {
  font-size: 24px;
  margin-left: 5px;
  transform: translateY(3px);
  display: inline-block;
}

.title-page {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-top: 7px;
  position: relative;
}
.title-page::before {
  content: "";
  width: 10px;
  height: 80px;
  background: #EFB100;
  position: absolute;
  left: 0;
  top: 0;
}
.title-page h5 {
  color: #585858;
  margin-bottom: 5px;
}
.title-page h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.slider {
  position: relative;
  margin-bottom: 50px;
  margin-top: -1px;
}
.slider .owl-theme .owl-dots {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
}
.slider .owl-theme .owl-dots .owl-dot {
  display: block;
}
.slider .owl-theme .owl-dots .owl-dot.active span {
  background: #EFB100;
}
.slider .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 30px;
  margin: 5px 0;
  display: block;
  background: black;
  border-radius: 0;
  position: relative;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.aboutus {
  color: #585858;
  margin-bottom: 20px;
}
.aboutus-img {
  position: relative;
  margin-bottom: 15px;
}
.aboutus-img-large {
  padding-right: 70px;
  padding-bottom: 70px;
}
.aboutus-img-small {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 50%;
  border: 10px solid white;
}
.aboutus-detail p {
  line-height: 1.6;
}
.aboutus-detail-btn {
  margin-bottom: 30px;
}
.aboutus-detail-btn a {
  color: #EFB100;
  font-size: 16px;
  font-weight: 600;
}
.aboutus-detail-btn a i {
  padding-left: 5px;
}
.aboutus-detail-btn a:hover {
  letter-spacing: 2px;
}
.aboutus-detail-service h5 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.aboutus-detail-service-box {
  display: flex;
  margin-bottom: 15px;
}
.aboutus-detail-service-box img {
  width: 40px;
  height: 40px;
}
.aboutus-detail-service-box h5 {
  width: calc(100% - 50px);
  margin-left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
  color: black;
}

.service {
  margin-bottom: 25px;
  background-image: url("../img/bg-service.png");
  padding: 25px 0;
}
.service .container {
  position: relative;
}
.service-all {
  position: absolute;
  top: 30px;
  right: 15px;
}
.service-all a {
  border: 1px solid #cccccc;
  color: #585858;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.service-all a:hover {
  background: #EFB100;
  color: white;
  border-color: #EFB100;
}
.service-zone {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 10px;
  margin: 0 -5px;
}
.service-zone .box-service {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}

.product {
  margin-bottom: 50px;
}
.product .container {
  position: relative;
}
.product-all {
  position: absolute;
  top: 30px;
  right: 15px;
}
.product-all a {
  border: 1px solid #cccccc;
  color: #585858;
  padding: 12px 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.product-all a:hover {
  background: #EFB100;
  color: white;
  border-color: #EFB100;
}
.product-zone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.box-service {
  position: relative;
  overflow: hidden;
}
.box-service:hover img {
  transform: scale(1.2);
  filter: brightness(1);
}
.box-service img {
  filter: brightness(0.7);
  transition: 0.5s;
  width: 100%;
}
.box-service h4 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 10;
  color: white;
  font-weight: 500;
}

.box-product {
  background: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
  transition: 0.3s;
  position: relative;
}
.box-product:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
}
.box-product:hover .box-product-img-custom {
  opacity: 1;
}
.box-product-img {
  position: relative;
  height: 255px;
  overflow: hidden;
  margin-bottom: 15px;
}
.box-product-img:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}
.box-product-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-product-img-custom {
  position: absolute;
  z-index: 2;
  right: 10px;
  bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.box-product-img-custom i {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px 9px;
  background: #e1e1e1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}
.box-product-img-custom i:hover {
  background: #EFB100;
  color: white;
}
.box-product-detail {
  margin-bottom: 15px;
  padding: 0 10px;
}
.box-product-detail h6 {
  color: #555555;
  font-size: 13px;
}
.box-product-detail h5 {
  margin-bottom: 5px;
}
.box-product-detail h5 a {
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-product-detail h5 a:hover {
  color: #EFB100;
}

.home-bottom {
  background-image: url("../img/bg-bottom.png");
  padding: 50px 0;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 50px;
}
.home-bottom .title-page h1 {
  color: white;
}
.home-bottom .title-page h5 {
  color: #ccc;
}
.home-bottom .order form {
  margin: 0 -9px;
}
.home-bottom .order input {
  width: calc(50% - 20px);
  height: 40px;
  border: 1px solid #e1e1e1;
  margin: 0 9px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.home-bottom .order textarea {
  width: calc(100% - 20px);
  height: 100px;
  margin: 0 9px;
  padding: 15px;
  margin-bottom: 20px;
}
.home-bottom .order button {
  background: #EFB100;
  color: white;
  border: 2px solid #EFB100;
  padding: 10px 20px;
  margin-left: 9px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.home-bottom .order button:hover {
  color: #EFB100;
  background: none;
}
.home-bottom .order ul h5 {
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}
.home-bottom .order ul li {
  display: inline-block;
  margin-right: 40px;
}
.home-bottom .order ul li:last-child {
  margin-right: 0;
}
.home-bottom .order ul li a {
  color: white;
}
.home-bottom .order ul li a:hover {
  color: #EFB100;
}
.home-bottom .order ul li a i {
  padding-right: 10px;
  color: #EFB100;
}
.home-bottom .service-bonus-zone {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.home-bottom .service-bonus .box-service-bonus {
  background: white;
  text-align: center;
  width: calc(100% / 2 - 20px);
  margin: 10px;
  padding: 15px;
}
.home-bottom .service-bonus .box-service-bonus img {
  margin: auto;
  margin-bottom: 15px;
  width: 64px;
}
.home-bottom .service-bonus .box-service-bonus h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}
.home-bottom .service-bonus .box-service-bonus h5 {
  color: #585858;
}

.partner {
  margin-bottom: 50px;
}
.partner .partner-carousel {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
  padding: 30px;
}

.product-page {
  margin-bottom: 10px;
}
.product-page .container {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-gap: 30px;
}
.product-page .left .category {
  background: white;
  border: 1px solid #FE9516;
  position: relative;
  margin-bottom: 30px;
}
.product-page .left .category h4 {
  font-weight: 600;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  width: 100%;
  background: #FE9516;
  color: white;
}
.product-page .left .category h4 i {
  float: right;
  font-size: 20px;
}
.product-page .left .category ul {
  padding: 15px;
  padding-bottom: 0;
  height: auto;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.product-page .left .category ul.active {
  height: auto;
}
.product-page .left .category ul li {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .left .category ul li:last-child {
  margin-bottom: 0px;
}
.product-page .left .category ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #585858;
}
.product-page .left .category ul li a:hover {
  color: #FE9516;
}
.product-page .left .category h5 {
  padding: 10px 15px;
  color: #FE9516;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product-page .left .category h5:hover {
  color: #EFB100;
}
.product-page .left .category h5 i {
  margin-left: 15px;
}
.product-page .left .seller {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}
.product-page .left .seller .title-left {
  background: #f4f4f4;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-page .main .title-page h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.product-page .main-zone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-img .xzoom-thumbs {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 25px;
  position: relative;
}
.product-page .main .product-detail-1-img .xzoom-thumbs img {
  width: auto;
  height: 80px;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xzoom-gallery:hover {
  border-color: #EFB100;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xactive {
  border-color: #EFB100;
  -webkit-box-shadow: 0px 0px 3px 0px #EFB100;
  box-shadow: 0px 0px 3px 0px #EFB100;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:hover, .product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:focus,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:hover,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:focus {
  color: #EFB100;
  background: none;
  outline: none;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev {
  left: -12%;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  right: -12%;
}
.product-page .main .product-detail-1-detail {
  color: #585858;
  margin-bottom: 30px;
}
.product-page .main .product-detail-1-detail h2 {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
.product-page .main .product-detail-1-detail p {
  color: #585858;
  margin-bottom: 10px;
}
.product-page .main .product-detail-1-detail h4 {
  color: #EFB100;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-detail h4 span {
  color: #585858;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 30px;
}
.product-page .main .product-detail-1-detail h5 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .main .product-detail-1-detail .quantity a {
  margin: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.product-page .main .product-detail-1-detail .quantity a:hover {
  color: #EFB100;
}
.product-page .main .product-detail-1-detail .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #EFB100;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button {
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.product-page .main .product-detail-1-detail .quantity button:hover {
  background: #EFB100;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart {
  background: #EFB100;
  color: white;
  height: 40px;
  width: 130px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #EFB100;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart:hover, .product-page .main .product-detail-1-detail .quantity button.custom-cart:focus {
  background: none;
  color: #EFB100;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.product-page .main .product-detail-2-title .nav-tabs {
  border-bottom: 2px solid #383838;
  margin-bottom: 30px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item {
  margin-bottom: -2px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link {
  padding-bottom: 11px;
  border: none;
  border-bottom: 2px solid #383838;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link.active, .product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link:hover {
  background: none;
  border: none;
  border-bottom: 2px solid #EFB100;
  padding-bottom: 11px;
  color: #EFB100;
}
.product-page .main .similar h2 {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 2px solid #555555;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.service-page {
  margin-bottom: 40px;
}
.service-page .box-service {
  margin-bottom: 40px;
}

.page-detail {
  margin-bottom: 40px;
}
.page-detail img {
  margin-bottom: 20px;
}
.page-detail .similar {
  margin-top: 50px;
}
.page-detail .box-service {
  margin-bottom: 40px;
}
.page-detail .box-service img {
  margin: 0;
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(11px + .25vmax);
  }

  .container {
    max-width: calc(100% - 30px);
  }

  .toggleMenu {
    display: block;
    position: fixed;
    right: 15px;
    top: 5px;
    z-index: 10;
    color: white;
  }
  .toggleMenu i {
    font-size: 26px;
  }

  .menu {
    height: auto;
    background: white;
    position: fixed;
    top: 0;
  }
  .menu.down {
    border: 0;
  }
  .menu.down .main-menu .nav li {
    padding: 20px 30px;
  }
  .menu.down .main-menu .nav li ul li {
    padding: 0;
  }
  .menu .main-menu {
    border: 0;
    position: absolute;
    left: -15px;
    top: 0;
    width: 100%;
  }
  .menu .main-menu .nav {
    display: block;
    text-align: left;
    background: white;
    position: absolute;
    width: 300px;
    transform: translate(-300px, 0);
    transition: 0.3s;
    height: 100vh;
    opacity: 0;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    left: 15px;
    z-index: 1010;
    color: black;
    overflow-y: scroll;
  }
  .menu .main-menu .nav.out {
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu .main-menu .nav li {
    display: block;
    padding: 20px 30px;
  }
  .menu .main-menu .nav li:first-child {
    margin-top: 30px;
  }
  .menu .main-menu .nav li a {
    line-height: 1.5;
    padding: 0;
    padding-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
  }
  .menu .main-menu .nav li a:hover {
    background: none;
  }
  .menu .main-menu .nav li .active {
    background: none;
    color: #EFB100;
  }
  .menu .main-menu .nav li ul {
    width: 300px;
    top: 50px;
    transform: translateX(-300px);
    padding-top: 0;
    height: auto;
    position: fixed;
    z-index: 1000;
  }
  .menu .main-menu .nav li ul:hover::before {
    display: none;
  }
  .menu .main-menu .nav li ul::before {
    content: "Trở lại";
    font-size: 12px;
    position: absolute;
    top: -33px;
    left: 15px;
    color: #EFB100;
  }
  .menu .main-menu .nav li ul li {
    width: 100%;
  }
  .menu .main-menu .nav li ul li:first-child {
    margin-top: 0;
  }
  .menu .main-menu .nav li ul li a {
    padding: 15px 20px;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 5px;
    right: 10px;
    color: black;
  }

  .header-top {
    position: fixed;
    top: 0;
    right: 15px;
    width: 100%;
    z-index: 999;
  }
  .header-top .search {
    position: fixed;
    top: 40px;
    right: -15px;
    z-index: 10;
    transition: 0.3s;
    transform: translateY(-50%) scaleY(0);
    height: 40px;
    width: 100%;
    background: white;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border: 0;
    margin: 10px 15px;
  }
  .header-top .search input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid white;
    background: none;
    color: black;
    padding-left: 10px;
  }
  .header-top .search input::placeholder {
    color: black;
  }
  .header-top .search button {
    color: black;
    top: 0;
    right: 10px;
  }
  .header-top .search.active {
    transform: none;
  }

  .search-btn {
    display: block;
    position: fixed;
    right: 55px;
    top: 7px;
    z-index: 10;
    color: white;
  }
  .search-btn i {
    font-size: 24px;
  }

  .header-bottom {
    padding-top: 50px;
  }

  .box-product-img {
    height: calc(100vw / 4 - 38px);
  }
}
@media (max-width: 992px) {
  .box-product-img {
    height: calc(100vw / 3 - 40px);
  }

  .service-zone .box-service {
    width: calc(100% / 2 - 10px);
  }

  .product-zone {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .header-bottom .logo, .header-bottom .contact {
    display: none;
  }
  .header-bottom .hotline {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 11px 0;
  }
  .header-bottom .hotline h5 {
    display: none;
  }
  .header-bottom .hotline::before {
    content: none;
  }
  .header-bottom .hotline h3 {
    margin-left: 15px;
  }
  .header-bottom .hotline h3 a {
    color: white;
  }

  .title-page {
    padding-left: 13px;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .title-page::before {
    height: 50px;
    width: 5px;
  }
  .title-page h1 {
    font-size: 1.4em;
  }

  .service-all, .product-all {
    top: 15px;
  }

  .product-zone {
    grid-template-columns: 1fr 1fr;
  }

  .box-product-img {
    height: calc(100vw / 2 - 45px);
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .slider, .aboutus, .home-bottom, .partner {
    margin-bottom: 30px;
  }

  .footer h4 {
    border-bottom: 0;
  }
  .footer h4 i {
    display: block;
  }
  .footer ul {
    transition: 0.3s;
    display: none;
    margin-top: -10px;
  }
  .footer ul.active {
    height: 100%;
    display: block;
  }

  .box-product:hover {
    border: 0;
    box-shadow: none;
  }
  .box-product-img {
    height: calc((100vw / 2) - 22px);
  }
  .box-product-img-custom {
    display: none;
  }

  .product-zone {
    grid-gap: 15px;
  }

  .service {
    background: none;
    padding: 0;
    margin-bottom: 40px;
  }

  .service-zone .box-service {
    width: 100%;
    margin: 7.5px 5px;
  }

  .service-all, .product-all {
    position: relative;
    top: initial;
    right: initial;
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .slider .owl-theme .owl-dots {
    display: none;
  }

  .home-bottom .service-bonus .box-service-bonus {
    width: 100%;
    margin: 7.5px 10px;
  }

  .partner .partner-carousel {
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
  }
}

/*# sourceMappingURL=layout.css.map */
