$main_color: #EFB100;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@mixin sha {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  -webkit-box-shadow: 0 0 10px rgba($color: #000000, $alpha: .16);
}


// ------------------------------------------------------
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'SF Display';
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: white;

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
  }

  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.4em
  }

  h4 {
    font-size: 1.15em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.85em;
  }

  a {
    outline: none;
    text-decoration: none;
    font-weight: 400;
    color: inherit;
    transition: .3s;

    &:hover, &:focus  {
      color: $main_color;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  img {
    border: none;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto
  }

  section {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }


  .go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: $main_color;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transform: translateY(100px);

  &:hover {
    background: $main_color;

    span:nth-child(1) {
      transform: rotate(-35deg);
      left: 7px;
      top: 18px;
    }

    span:nth-child(2) {
      transform: rotate(35deg);
      left: 19px;
      top: 18px;
    }
  }

  span {
    position: absolute;
    top: 20px;
    width: 15px;
    height: 2px;
    background: white;
    transition: .2s;

    &:nth-child(1) {
      left: 5px;
    }

    &:nth-child(2) {
      left: 20px;
    }
  }

  }

  button:focus {
    outline: none;
  }

  input:focus,
  select:focus {
    box-shadow: 0 0 0 0.2rem rgba($color: $main_color, $alpha: .5);
  }
}




// -----------------------


body {
  .xzoom-source img,
  .xzoom-preview img,
  .xzoom-lens img {
    z-index: 1051;
  }

  .overlay-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
    background: rgba($color: black, $alpha: .05);

    &.overlay-in {
      display: block;
    }
  }

  .modal {
    cursor: url('../img/cursor.png'), auto;
    z-index: 1050;
  }

  .mfp-bg {
    z-index: 1052;
  }

  .mfp-wrap {
    z-index: 1053;
  }

  .swal2-popup .swal2-styled.swal2-confirm {
    background: $main_color;
    
    a {
      font-weight: 500;
    }
  }

  .ui-widget.ui-widget-content {
    z-index: 1050;
  }
}

.pagination {
  margin-bottom: 10px;
  margin-top: 30px;

  .page-item .page-link {
    background: none;
    border: 1px solid #666;
    color: #585858;
    border-radius: 3px;
    transition: .3s;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    background: none;

    &:hover,
    &:focus,
    &.active {
      background: $main_color;
      color: white;
    }
  }
}

.bread-crumb {
  color: black;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: left;

  .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0;
    justify-content: left;


    .breadcrumb-item {
      &:first-child::before {
        content: none;
      }

      &:before {
        content: '/';
        padding-left: 10px;
        padding-right: 15px;
      }

      &:hover {
        color: $main_color;
      }
    }

    .breadcrumb-item.active {
      color: $main_color;
    }
  }
}

.quickview {
  cursor: url('../img/cursor.png'), auto;

  .modal-content {
    cursor: default;

    .modal-body {
      img {
        margin-bottom: -5px;
      }

      h3 {
        font-weight: bold;
        margin-bottom: 15px;
      }

      h5 {
        margin-bottom: 15px;
      }

      h4 {
        color: $main_color;
        font-weight: bold;
        margin-bottom: 15px;

        span {
          font-weight: 400;
          color: #585858;
          text-decoration: line-through;
          margin-left: 20px;
        }
      }

      p {
        margin-bottom: 20px;
        color: #656565;
      }

      input {
        width: 40px;
        height: 40px;
        padding-left: 5px;
        margin: 0 5px;
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        margin-bottom: 20px;
        padding-top: 3px;
      }

      

      .cart-btn {
        border: 2px solid $main_color;

        &:hover {
          background: none;
          border-color: black;
        }
      }

      .xzoom-thumbs {
        a {
          background: none;
          margin: 1px;
        }

        .xactive {
          border: 1px solid $main_color;
        }
      }


      .tags {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #e1e1e1;
      }
    }
  }

  .quantity {
    margin: 30px 0;

    a {
      padding: 12px 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      background: $main_color;
      color: white;
      transition: .3s;
      border: 2px solid $main_color;

      &:hover {
        background: none;
        color: $main_color;
      }
    }
  }

  .tags {
    span a {
      color: $main_color;
      
      &:hover {
        text-decoration: underline;
        
      }
    }
  }
}

.modal-img {
  position: relative;

  .owl-theme .owl-nav {

    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 30% !important;
      font-size: 30px !important;
      transition: .5s;
      color: #666;
      border: 0 !important;
      width: 0 !important;
      height: 0 !important;

      &:hover {
        color: $main_color !important;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 0;
    }

    button.owl-next {
      right: 0;
    }
  }
}


.contact-page {
  margin-bottom: 50px;

  .box-contact {
    color: black;

    input {
      height: 40px;
    }

    textarea {
      height: 100px;
    }
  }
}


.footer {
  background: #252525;
  color: white;
  padding-top: 30px;

  h4 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #383838;
    text-transform: uppercase;
    font-weight: 600;

    i {
      float: right;
      margin-top: -4px;
      display: none;
    }
  }

  ul {
    li {
      margin-bottom: 15px;
      color: #ccc;

      i {
        margin-right: 10px;
        color: $main_color;
        font-size: 14px;
      }

      a {
        color: #ccc;
        transition: .3s;
        font-size: .9em;

        &:hover {
          color: $main_color;
        }
      }
    }
  }

  i {
    font-size: 20px;
    margin-right: 15px;
    transition: .3s;

    &:hover {
      color: $main_color;
    }
  }

  .support {
    h5 {
      text-transform: uppercase;
    }

    img {
      float: left;
      margin-right: 5px;
      width: 70px;
    }

    h6 {
      color: $main_color;
    }
  }

  .copyright {
    margin-top: 15px;
    padding: 10px 0;
    border-top: 1px solid #383838;
  }
}
