$main_color: #EFB100;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@mixin sha {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  -webkit-box-shadow: 0 0 10px rgba($color: #000000, $alpha: .16);
}

// ------------------



@media (max-width: 1200px) {
  body {
    margin-left: 15px;
    font-size: calc(11px + .25vmax);
  }

  .container {
    max-width: calc(100% - 30px);
  }

  .toggleMenu {
    display: block;
    position: fixed;
    right: 15px;
    top: 5px;
    z-index: 10;
    color: white;
    
    i {
      font-size: 26px;
    }
  }


  .menu {
    height: auto;
    background: white;
    position: fixed;
    top: 0;

    &.down {
      border: 0;

      .main-menu .nav li {
        padding: 20px 30px;

        ul li {
          padding: 0;
        }
      }
    }

    .main-menu {
      border: 0;
      position: absolute;
      left: -15px;
      top: 0;
      width: 100%;

      .nav {
        display: block;
        text-align: left;
        background: white;
        position: absolute;
        width: 300px;
        transform: translate(-300px, 0);
        transition: .3s;
        height: 100vh;
        opacity: 0;
        padding: 0;
        margin: 0;
        padding-top: 30px;
        left: 15px;
        z-index: 1010;
        color: black;
        overflow-y: scroll;

        &.out {
          transform: translate(0, 0);
          opacity: 1;
        }

        li {
          display: block;
          padding: 20px 30px;

          &:first-child {
            margin-top: 30px;
          }

          a {
            line-height: 1.5;
            padding: 0;
            padding-bottom: 5px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 15px;

            &:hover {
              background: none;
            }
          }

          .active {
            background: none;
            color: $main_color;
          }

          ul { 
            width: 300px;
            top: 50px;
            transform: translateX(-300px);
            padding-top: 0;
            height: auto;
            position: fixed;
            z-index: 1000;

            &:hover::before {
              display: none;
            }
  
            &::before {
              content: "Trở lại";
              font-size: 12px;
              position: absolute;
              top: -33px;
              left: 15px;
              color: $main_color;
            }

            li {
              width: 100%;

              &:first-child {
                margin-top: 0;
              }
              
              a {
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }
  }
    
  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 5px;
    right: 10px;
    color: black;
  }

  .header-top {
    position: fixed;
    top: 0;
    right: 15px;
    width: 100%;
    z-index: 999;

    .search {
      position: fixed;
      top: 40px;
      right: -15px;
      z-index: 10;
      transition: 0.3s;
      transform: translateY(-50%) scaleY(0);
      height: 40px;
      width: 100%;
      @include sha;
      border: 0;
      margin: 10px 15px;
  
      input {
        width: 100%;
        height: 40px;
        border: 0;
        border-bottom: 1px solid white;
        background: none;
        color: black;
        padding-left: 10px;

        &::placeholder {
          color: black;
        }
      }

      button {
        color: black;
        top: 0;
        right: 10px;
      }
  
      &.active {
        transform: none;
      }
    }
  }
  
  .search-btn {
    display: block;
    position: fixed;
    right: 55px;
    top: 7px;
    z-index: 10;
    color: white;
    
    i {
      font-size: 24px;
    }
  }

  .header-bottom {
    padding-top: 50px;
    border-bottom: 1px solid #e1e1e1;
  }

  .box-product-img {
    height: calc(100vw / 4 - 38px);
  }
  
  .product-page {
    .container {
      display: block;
    }

    .category {
      display: none;
    }

    .main-zone {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .box-product-img {
    height: calc(100vw / 3 - 40px);
  }

  .service-zone .box-service {
    width: calc(100% / 2 - 10px);
  }

  .product-zone, .product-page .main-zone {
    grid-template-columns: repeat(3, 1fr);
  }

  .header-bottom .logo {
    border: 0;
  }
}

@media (max-width: 767px) {
  .header-bottom {
    border: 0;

    .logo, .contact {
      display: none;
    }

    .hotline {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      margin: 11px 0;

      h5 {
        display: none;
      }

      &::before {
        content: none;
      }

      h3 {
        margin-left: 15px;

        a {
          color: white;
        }
      }
    }
  }

  .title-page {
    padding-left: 13px;
    padding-top: 0;
    margin-bottom: 20px;

    &::before {
      height: 50px;
      width: 5px;
    }
    
    h1 {
      font-size: 1.4em;
    }
  }
  
  .service-all, .product-all {
    top: 15px;
  }

  .product-zone, .product-page .main-zone {
    grid-template-columns: 1fr 1fr;
  }

  .box-product-img {
    height: calc(100vw / 2 - 45px);
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .slider, .aboutus, .home-bottom, .partner {
    margin-bottom: 30px;
  }

  .footer {
    h4 {
      border-bottom: 0;

      i {
        display: block;
      }
    }

    ul {
      transition: .3s;
      display: none;
      margin-top: -10px;

      &.active {
        height: 100%;
        display: block;
      }
    }
  }

  .box-product {

    &:hover {
      border: 0;
      box-shadow: none;
    }

    &-img {
      height: calc((100vw / 2) - 22px);
  
      &-custom {
        display: none;
      }
    }
  }

  .product-zone, .product-page .main-zone {
    grid-gap: 15px;
  }

  .service {
    background: none;
    padding: 0;
    margin-bottom: 40px;
  }

  .service-zone .box-service {
    width: 100%;
    margin: 7.5px 5px;
  }
  
  .service-all, .product-all {
    position: relative;
    top: initial;
    right: initial;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .slider {
    .owl-theme .owl-dots {
      display: none;
    }
  }

  .home-bottom .service-bonus .box-service-bonus {
    width: 100%;
    margin: 7.5px 10px;
  }

  .partner .partner-carousel {
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
  }
}
