@import 'default';
$main_color: #EFB100;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@mixin sha {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  -webkit-box-shadow: 0 0 10px rgba($color: #000000, $alpha: .16);
}

// end default css -----------------------------------------------------



.header-top {
  background: $main_color;
  color: white;
  height: 50px;
  
  h5 {
    padding: 14px 0;
  }

  
  .search {
    text-align: right;
    margin: 10px 0;
    
    form {
      position: relative;
    }

    input {
      width: 300px;
      height: 30px;
      border: 0;
      border-bottom: 1px solid white;
      background: none;
      color: white;

      &:focus {
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
      }

      &::placeholder {
        color: white;
      }
    }

    button {
      position: absolute;
      top: -3px;
      right: 0;
      color: white;
      text-align: center;
      border: 0;
      background: none;
      cursor: pointer;

      i {
        font-size: 24px;
        transition: .3s;

        &:hover {
          color: black;
        }
      }
    }
  }
}

.header-bottom {
  .hotline {
    margin: 20px 0;
    position: relative;

    &::before {
      content: '';
      width: 37px;
      height: 40px;
      background-image: url('../img/icon-header.png');
      position: absolute;
      top: 7px;
      left: 0;
    }

    h5 {
      margin-left: 20px;
      margin-bottom: 5px;
    }

    h3 {
      margin-left: 45px;
      
      a {
        font-weight: 600;
        color: $main_color;
        transition: .3s;

        &:hover {
          letter-spacing: 1px;
        }
      }
    }
  }

  .logo {
    height: 80px;
    margin: 10px 0;
  }

  .contact {
    margin: 20px 0;
    position: relative;

    &::before {
      content: '';
      width: 37px;
      height: 40px;
      background-image: url('../img/icon-header.png');
      position: absolute;
      right: 0;
      top: 9px;
      transform: rotateY(180deg);
    }

    h5 {
      margin-right: 20px;
      margin-bottom: 5px;
    }

    h3 {
      margin-right: 45px;
      
      a {
        font-weight: 600;
        color: $main_color;
        text-transform: uppercase;
        transition: .3s;

        &:hover {
          letter-spacing: 1px;
        }
      }
    }
  }
}

.menu {
  z-index: 1000;
  position: relative;
  height: 60px;
  
  &.down {
    position: fixed;
    width: 100%;
    top: 0;
    right: 15px;
    @include sha;

    .main-menu {
      border: 0;

      .nav li {
        padding: 7px 0;
      }
    }
  }

  .main-menu {
    position: relative;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: black;
      margin: 10px 0;
      z-index: 10000;
      -webkit-transition: 500ms;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      text-align: center;
      margin-top: -1px;
      padding-bottom: 1px;  

      li {
        -webkit-transition: .5s;
        transition: .5s;
        display: inline-block;
        padding: 10px 0;
        position: relative;

        &:hover ul {
          transform: none;
          opacity: 1;
          visibility: initial;

          li {
            display: block;
          }
        }

        ul {
          position: absolute;
          width: 300px;
          left: 0;
          top: 58px;
          @include sha;
          border: 0;
          text-align: left;
          transform: translateY(40px);
          opacity: 0;
          visibility: hidden;
          transition: .3s;
          
          li {
            padding: 0;
            display: none;

            a {
              font-weight: 400;
              text-transform: initial;
              font-size: 14px;
              color: #444444;
              padding: 10px 20px;
              display: block;
              width: 299px;
              border-bottom: 1px solid #f4f4f4;

              &:hover {
                color: white;
                background: $main_color;
              }
            }
          }
        }

        .active {
          color: $main_color;
        }

        a {
          font-weight: 600;
          font-size: 14px;
          -webkit-transition: .3s;
          transition: .3s;
          color: black;
          padding: 0;
          display: initial;
          padding: 22px 17px;
          text-transform: uppercase;

          &:hover {
            color: $main_color;
          }

          i {
            font-size: 24px;
            margin-left: 5px;
            transform: translateY(3px);
            display: inline-block;
          }
        }

      }
    }

  }

}

.title-page {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-top: 7px;
  position: relative;

  &::before {
    content: '';
    width: 10px;
    height: 80px;
    background: $main_color;
    position: absolute;
    left: 0;
    top: 0;
  }

  h5 {
    color: #585858;
    margin-bottom: 5px;
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
  }
}

.slider {
  position: relative;
  margin-bottom: 50px;
  margin-top: -1px;

  .owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: 0;

    .owl-dot {
      display: block;

      &.active {
        span {
          background: $main_color;
        }
      }

      span {
        width: 30px;
        height: 30px;
        margin: 5px 0;
        display: block;
        background: black;
        border-radius: 0;
        position: relative;
        color: white;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}
.aboutus {
  color: #585858;
  margin-bottom: 20px;

  &-img {
    position: relative;
    margin-bottom: 15px;

    &-large {
      padding-right: 70px;
      padding-bottom: 70px;
    }

    &-small {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 50%;
      border: 10px solid white;
    }
  }

  &-detail {
    p {
      line-height: 1.6;
    }

    &-btn {
      margin-bottom: 30px;

      a {
        color: $main_color;
        font-size: 16px;
        font-weight: 600;

        i {
          padding-left: 5px;
        }

        &:hover {
          letter-spacing: 2px;
        }
      }
    }

    &-service {
      h5 {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e1e1e1;
      }

      &-box {
        display: flex;
        margin-bottom: 15px;

        img {
          width: 40px;
          height: 40px;
        }

        h5 {
          width: calc(100% - 50px);
          margin-left: 10px;
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
          color: black;
        }
      }
    }
  }
}

.service {
  margin-bottom: 25px;
  background-image: url('../img/bg-service.png');
  padding: 25px 0;

  .container {
    position: relative;
  }

  &-all {
    position: absolute;
    top: 30px;
    right: 15px;

    a {
      border: 1px solid #cccccc;
      color: #585858;
      padding: 12px 30px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;

      &:hover {
        background: $main_color;
        color: white;
        border-color: $main_color;
      }
    }
  }

  &-zone {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10px;
    margin: 0 -5px;

    .box-service {
      width: calc(100% / 3 - 10px);
      margin: 5px;
    }
  }
}

.product {
  margin-bottom: 50px;

  .container {
    position: relative;
  }

  &-all {
    position: absolute;
    top: 30px;
    right: 15px;

    a {
      border: 1px solid #cccccc;
      color: #585858;
      padding: 12px 30px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;

      &:hover {
        background: $main_color;
        color: white;
        border-color: $main_color;
      }
    }
  }

  &-zone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

}

.box-service {
  position: relative;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.2);
      filter: brightness(1);
    }
  }

  img {
    filter: brightness(.7);
    transition: .5s;
    width: 100%;
  }

  h4 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 10;
    color: white;
    font-weight: 500;
  }
}

.box-product {
  background: white;
  box-shadow: 0 0 7px rgba($color: #000000, $alpha: .16);
  transition: .3s;
  position: relative;

  &:hover {
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: .16);

    .box-product-img-custom {
      opacity: 1;
    }
  }

  &-img {
    position: relative;
    height: 255px;
    overflow: hidden;
    margin-bottom: 15px;

    &:hover {
      img {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
      }
    }
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      -webkit-transition: .3s;
      transition: .3s;
    }

    &-custom {
      position: absolute;
      z-index: 2;
      right: 10px;
      bottom: 10px;
      -webkit-transition: .3s;
      transition: .3s;
      opacity: 0;

      i {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        padding: 5px 9px;
        background: #e1e1e1;
        -webkit-transition: .3s;
        transition: .3s;
        color: black;

        &:hover {
          background: $main_color;
          color: white;
        }
      }
    }
  }

  &-detail {
    margin-bottom: 15px;
    padding: 0 10px;

    h6 {
      color: #555555;
      font-size: 13px;
    }

    h5{
      margin-bottom: 5px;

      a {
        font-weight: 600;
        -webkit-transition: .3s;
        transition: .3s;
        @include o1;

        &:hover {
          color: $main_color;
        }
      }
    } 
  }
}

.home-bottom {
  background-image: url('../img/bg-bottom.png');
  padding: 50px 0;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 50px;

  .title-page {
    h1 {
      color: white;
    }

    h5 {
      color: #ccc;
    }
  }

  .order {
    form {
      margin: 0 -9px;
    }

    input {
      width: calc(50% - 20px);
      height: 40px;
      border: 1px solid #e1e1e1;
      margin: 0 9px;
      margin-bottom: 20px;
      padding-left: 10px;
    }

    textarea {
      width: calc(100% - 20px);
      height: 100px;
      margin: 0 9px;
      padding: 15px;
      margin-bottom: 20px;
    }

    button {
      background: $main_color;
      color: white;
      border: 2px solid $main_color;
      padding: 10px 20px;
      margin-left: 9px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: $main_color;
        background: none;
      }
    }

    ul {
      h5 {
        color: white;
        margin-top: 30px;
        margin-bottom:  20px;
      }
  
      li {
        display: inline-block;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
        
        a {
          color: white;

          &:hover {
            color: $main_color;
          }

          i {
            padding-right: 10px;
            color: $main_color;
          }
        }
      }
    }
  }

  .service-bonus {
    &-zone {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }

    .box-service-bonus {
      background: white;
      text-align: center;
      width: calc(100% / 2 - 20px);
      margin: 10px;
      padding: 15px;

      img {
        margin: auto;
        margin-bottom: 15px;
        width: 64px;
      }

      h4 {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 5px;
      }

      h5 {
        color: #585858;
      }
    }
  }
}

.partner {
  margin-bottom: 50px;

  .partner-carousel {
    background: white;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 7px rgba($color: #000000, $alpha: .16);
    padding: 30px;
  }
}



.product-page {
  margin-bottom: 10px;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .left {
    .category {
      background: white;
      border: 1px solid #FE9516;
      position: relative;
      margin-bottom: 30px;
  
      h4 {
        font-weight: 600;
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        width: 100%;
        background: #FE9516;
        color: white;
  
        i {
          float: right;
          font-size: 20px;
        }
      }
  
      ul {
        padding: 15px;
        padding-bottom: 0;
        height: auto;
        overflow: hidden;
        -webkit-transition: all ease .3s;
        transition: all ease .3s;
  
        &.active {
          height: auto;
        }
  
        li {
          display: block;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #e1e1e1;
  
          &:last-child {
            margin-bottom: 0px;
          }
  
          a {
            @include o1;
            -webkit-transition: .3s;
            transition: .3s;
            color: #585858;
  
            &:hover {
              color: #FE9516;
            }
          }
        }
      }
  
      h5 {
        padding: 10px 15px;
        color: #FE9516;
        cursor: pointer;
        font-weight: 500;
        font-size: 15px;
        -webkit-transition: .3s;
        transition: .3s;
  
        &:hover {
          color: $main_color;
        }
        
        i {
          margin-left: 15px;
        }
      }
    }

    .seller {
      border: 1px solid #e1e1e1;
      margin-bottom: 30px;

      .title-left {
        background: #f4f4f4;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  .main {
    .title-page {
      h3 {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    }

    &-zone {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 20px;
    }

    .product-detail {
      &-1 {
        &-img {
          .xzoom-thumbs {
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 0 25px;
            position: relative;

            img {
              width: auto;
              height: 80px;
            }
  
            .xzoom-gallery {
              &:hover {
                border-color: $main-color;
              }
            }
  
            .xactive {
              border-color: $main-color;
              -webkit-box-shadow: 0px 0px 3px 0px $main-color;
                      box-shadow: 0px 0px 3px 0px $main-color;
            }
  
            .owl-theme .owl-nav {
  
              button.owl-prev,
              button.owl-next {
                position: absolute;
                top: 40%;
                font-size: 30px;
                -webkit-transition: .5s;
                transition: .5s;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
  
                &:hover,
                &:focus {
                  color: $main-color;
                  background: none;
                  outline: none;
                }
              }
  
              button.owl-prev {
                left: -12%
              }
  
              button.owl-next {
                right: -12%
              }
            }
          }
        }
  
        &-detail {
          color: #585858;
          margin-bottom: 30px;
  
          h2 {
            font-weight: bold;
            margin-bottom: 5px;
            color: black;
          }

          p {
            color: #585858;
            margin-bottom: 10px;
          }
  
          h4 {
            color: $main-color;
            font-weight: bold;
            margin-bottom: 20px;
  
            span {
              color: #585858;
              font-weight: 400;
              text-decoration: line-through;
              margin-left: 30px;
            }
          }
  
          h5 {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #e1e1e1;
          }
  
          .quantity {
            a {
              margin: 0 10px;
              -webkit-transition: .5s;
              transition: .5s;
  
              &:hover {
                color: $main-color;
              }
            }
  
            input {
              width: 40px;
              height: 40px;
              text-align: center;
              border: 1px solid #959595;
              background: none;
              color: #585858;
              outline-color: $main-color;
              border-radius: 3px;
              margin-bottom: 10px;
              margin-left: 5px;
            }
  
            button {
              font-size: 14px;
              cursor: pointer;
              -webkit-transition: .2s;
              transition: .2s;
              background: black;
              border: 0;
              width: 20px;
              height: 20px;
              border-radius: 3px;
              color: white;
              line-height: 19px;
  
              &:hover {
                background: $main_color;
              }
            }
  
            button.custom-cart {
              background: $main-color;
              color: white;
              height: 40px;
              width: 130px;
              padding: 0 10px;
              text-transform: uppercase;
              font-weight: bold;
              border-radius: 3px;
              cursor: pointer;
              -webkit-transition: .5s;
              transition: .5s;
              border: 2px solid $main-color;
              margin-left: 5px;
  
              &:hover,
              &:focus {
                background: none;
                color: $main-color;
                -webkit-box-shadow: none;
                        box-shadow: none;
                outline: none;
              }

            }
          }
        }
      }
  
      &-2 {
        &-title {
          .nav-tabs {
            border-bottom: 2px solid #383838;
            margin-bottom: 30px;
  
            .nav-item {
              margin-bottom: -2px;
  
              .nav-link {
                padding-bottom: 11px;
                border: none;
                border-bottom: 2px solid #383838;
                -webkit-transition: .5s;
                transition: .5s;
                font-weight: bold;
  
                &.active,
                &:hover {
                  background: none;
                  border: none;
                  border-bottom: 2px solid $main-color;
                  padding-bottom: 11px;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }

    .similar {
      h2 {
        padding-top: 20px;
        margin-top: 40px;
        border-top: 2px solid #555555;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
  }
}

.service-page {
  margin-bottom: 40px;

  .box-service {
    margin-bottom: 40px;
  }
}

.page-detail {
  margin-bottom: 40px;

  img {
    margin-bottom: 20px;
  }

  .similar {
    margin-top: 50px;
  }

  .box-service {
    margin-bottom: 40px;

    img {
      margin: 0;
    }
  }
}


// --------------------------------------------------------------------
@import 'media';
