extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='san-pham.html') Hóa chất chà sàn
            li.breadcrumb-item.active Hóa chất rửa chén

  section.product-page
    .container
      .left
        h4 Máy vệ sinh công nghiệp
        ul
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          li
            a(href='san-pham.html', title='Máy chà sàn công nghiệp')
              | Máy chà sàn công nghiệp
          
      
      .main
        .product-detail
          .product-detail-1
            .row
              .col-md-6
                .product-detail-1-img
                  img.main-image.xzoom(src='../img/product-1.png', xoriginal='../img/product-1.png')
                  .xzoom-thumbs
                    .owl-carousel.xzoom-carousel.owl-theme
                      .item
                        a(href='../img/product-1.png')
                          img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                      .item
                        a(href='../img/product-2.png')
                          img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                      .item
                        a(href='../img/product-1.png')
                          img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                      .item
                        a(href='../img/product-2.png')
                          img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                      .item
                        a(href='../img/product-1.png')
                          img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                      .item
                        a(href='../img/product-2.png')
                          img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
              .col-md-6
                .product-detail-1-detail
                  h2 Máy đánh bóng sàn Hiclean HC 1500
                  p Mã sản phẩm: HC 1500

                  h4.price-product
                    | Giá: Liên hệ
                  h5
                    | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  .quantity
                    span Số lượng: 
                    button.waves-effect.waves-light -
                    input(type='number', value='1', min='1')
                    button.waves-effect.waves-light +
                    button.custom-cart thêm vào giỏ
          .product-detail-2
            .product-detail-2-title
              ul.nav.nav-tabs.justify-content-center(role='tablist')
                li.nav-item
                  a#desc-1-tab.nav-link.active(data-toggle='tab', href='#desc-1', role='tab', aria-controls='desc-1', aria-selected='true')
                    | Chi tiết sản phẩm
            .tab-content
              #desc-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='desc-1-tab')
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.

        .similar
          h2 Sản phẩm liên quan

          .main-zone 
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
            
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
            
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
            
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
            
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
            
            .box-product
              .box-product-img
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail.text-center
                p
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                  i.mdi.mdi-star
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn Hiclean HC 1500')
                    | Máy đánh bóng sàn Hiclean HC 1500
                h6 Mã sản phẩm: HC 1500
              .box-product-custom.text-center
                a.custom-cart
                  i.mdi.mdi-cart-outline
                  | Thêm vào giỏ
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
            
