extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='san-pham.html') Máy vệ sinh công nghiệp
            li.breadcrumb-item.active Máy đánh bóng sàn Hiclean HC 1500

  section.product-page
    .container
      .left
        .category
          h4
            | danh mục sản phẩm
          ul
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech

      .main
        .product-detail
          .product-detail-1
            .row
              .col-md-6
                .product-detail-1-img
                  img.main-image.xzoom(src='../img/product-1.png', xoriginal='../img/product-1.png')
                  .xzoom-thumbs
                    .owl-carousel.xzoom-carousel.owl-theme
                      .item
                        a(href='../img/product-1.png')
                          img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                      .item
                        a(href='../img/product-2.png')
                          img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                      .item
                        a(href='../img/product-1.png')
                          img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                      .item
                        a(href='../img/product-2.png')
                          img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                      .item
                        a(href='../img/product-1.png')
                          img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                      .item
                        a(href='../img/product-2.png')
                          img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
              .col-md-6
                .product-detail-1-detail
                  h3 Máy đánh bóng sàn Hiclean HC 1500
                  p Mã sản phẩm: HC 1500

                  h4.price-product
                    | Giá: Liên hệ
                  h5
                    | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  .quantity
                    a(href='lien-he.html') liên hệ đặt hàng ngay
          .product-detail-2
            .product-detail-2-title
              ul.nav.nav-tabs.justify-content-center(role='tablist')
                li.nav-item
                  a#desc-1-tab.nav-link.active(data-toggle='tab', href='#desc-1', role='tab', aria-controls='desc-1', aria-selected='true')
                    | Chi tiết sản phẩm
            .tab-content
              #desc-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='desc-1-tab')
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.

        .similar
          h2 Sản phẩm liên quan

          .main-zone
            .box-product
              .box-product-img
                .box-product-img-custom
                  a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                    i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                    | Máy đánh bóng sàn HiClean HC 68
                h6 MSP: HC68

            .box-product
              .box-product-img
                .box-product-img-custom
                  a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                    i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                    | Máy đánh bóng sàn HiClean HC 68
                h6 MSP: HC68

            .box-product
              .box-product-img
                .box-product-img-custom
                  a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                    i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                    | Máy đánh bóng sàn HiClean HC 68
                h6 MSP: HC68
              
            .box-product
              .box-product-img
                .box-product-img-custom
                  a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                    i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                    | Máy đánh bóng sàn HiClean HC 68
                h6 MSP: HC68

            .box-product
              .box-product-img
                .box-product-img-custom
                  a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                    i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                    | Máy đánh bóng sàn HiClean HC 68
                h6 MSP: HC68

            .box-product
              .box-product-img
                .box-product-img-custom
                  a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                    i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img(src='../img/product-1.png')
              .box-product-detail
                h5
                  a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                    | Máy đánh bóng sàn HiClean HC 68
                h6 MSP: HC68
              
            