extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='tin-tuc.html') Tin tức
            li.breadcrumb-item.active Tin tức gì đó

  section.page-detail.news-page
    .container
      h2 Tin tức gì đó
      h4.date
        i.mdi.mdi-clock-outline
        | 10/04/2019
      
      p Công ty Vệ sinh Hoàng Gia chuyên cung cấp dịch vụ vệ sinh công nghiệp uy tín chuyên nghiệp,với đội ngũ nhân viên giàu kinh nghiệm cùng trang thiết bị hiện đại,chúng tôi luôn mang đến một dịch vụ hoàn hảo với nhiều tính năng đa dạng nhất,góp phần tô điểm trong không gian xanh sạch đẹp.
      p Với sự biến đổi và ô nhiễm môi trường,việc vệ sinh nhà cửa gọn gàng sạch sẽ góp phần kiến tạo một không gian trong sạch,giúp bạn cảm thấy thoải mái hơn trong bầu không khí làm việc căng thẳng...những dụng cụ gọn gàng sạch sẽ,ngắm nhìn khoảng không gian xanh đẹp,sạch sẽ luôn tạo ra tâm lý thoải mái yêu đời và làm việc hăng say hiệu quả.
      p Cùng với hệ thống máy móc hiện đại, đội ngũ nhân viên giàu kinh nghiệm được đào tạo bài bản và tay nghề cao,cũng như có kiến thức kỹ năng ưu việt trong việc sử dụng thành thục các loại máy móc hiện đại kết hợp với bàn tay của con người...Chúng tôi kiến tạo một dịch vụ tốt nhất làm hài lòng quý khách!
      img(src='../img/service-1.png')
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.

      .similar
        .title-page
          h5 Tin tức khác
          h1 Tin tức liên quan
        .service-zone
          .box-service
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
              h4 
                | Báo giá đánh bóng sàn bê tông
                span
                  i.mdi.mdi-clock-outline
                  | 10/04/2019
          .box-service
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
              h4 
                | Báo giá đánh bóng sàn bê tông
                span
                  i.mdi.mdi-clock-outline
                  | 10/04/2019
          .box-service
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
              h4 
                | Báo giá đánh bóng sàn bê tông
                span
                  i.mdi.mdi-clock-outline
                  | 10/04/2019
          .box-service
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
              h4 
                | Báo giá đánh bóng sàn bê tông
                span
                  i.mdi.mdi-clock-outline
                  | 10/04/2019
          .box-service
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
              h4 
                | Báo giá đánh bóng sàn bê tông
                span
                  i.mdi.mdi-clock-outline
                  | 10/04/2019
          .box-service
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/service-1.png')
              h4 
                | Báo giá đánh bóng sàn bê tông
                span
                  i.mdi.mdi-clock-outline
                  | 10/04/2019
      