extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='index.html') Dịch vụ vệ sinh công nghiệp
            li.breadcrumb-item.active Dịch vụ lau kính

  section.page-detail
    .category
      h4
        | danh mục sản phẩm
        i.mdi.mdi-text.d-none.d-sm-block
        i.mdi.mdi-arrow-left.d-sm-none.d-block
      ul
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
    
    .container
      .title-page
        h1 Dịch vụ lau kính
      
      p Công ty Vệ sinh Hoàng Gia chuyên cung cấp dịch vụ vệ sinh công nghiệp uy tín chuyên nghiệp,với đội ngũ nhân viên giàu kinh nghiệm cùng trang thiết bị hiện đại,chúng tôi luôn mang đến một dịch vụ hoàn hảo với nhiều tính năng đa dạng nhất,góp phần tô điểm trong không gian xanh sạch đẹp.
      p Với sự biến đổi và ô nhiễm môi trường,việc vệ sinh nhà cửa gọn gàng sạch sẽ góp phần kiến tạo một không gian trong sạch,giúp bạn cảm thấy thoải mái hơn trong bầu không khí làm việc căng thẳng...những dụng cụ gọn gàng sạch sẽ,ngắm nhìn khoảng không gian xanh đẹp,sạch sẽ luôn tạo ra tâm lý thoải mái yêu đời và làm việc hăng say hiệu quả.
      p Cùng với hệ thống máy móc hiện đại, đội ngũ nhân viên giàu kinh nghiệm được đào tạo bài bản và tay nghề cao,cũng như có kiến thức kỹ năng ưu việt trong việc sử dụng thành thục các loại máy móc hiện đại kết hợp với bàn tay của con người...Chúng tôi kiến tạo một dịch vụ tốt nhất làm hài lòng quý khách!
      img(src='../img/service-1.png')
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae perferendis architecto voluptate, perspiciatis excepturi et est sint harum vel! Reprehenderit distinctio reiciendis quia nisi consequatur maxime dolore laboriosam laborum.

      .similar
        .title-page
          h1 DỊch vụ liên quan
        .row
          .col-lg-4.col-sm-6
            .box-service
              .box-service-img
                a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                  img(src='../img/service-1.png')
              .box-service-detail
                h4 
                  a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                    | Dịch vụ lau sàn
                h5 Our store operates worldwide and you can free delivery of all orders

          .col-lg-4.col-sm-6
            .box-service
              .box-service-img
                a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                  img(src='../img/service-1.png')
              .box-service-detail
                h4 
                  a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                    | Dịch vụ lau sàn
                h5 Our store operates worldwide and you can free delivery of all orders

          .col-lg-4.col-sm-6
            .box-service
              .box-service-img
                a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                  img(src='../img/service-1.png')
              .box-service-detail
                h4 
                  a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                    | Dịch vụ lau sàn
                h5 Our store operates worldwide and you can free delivery of all orders
                
          .col-lg-4.col-sm-6
            .box-service
              .box-service-img
                a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                  img(src='../img/service-1.png')
              .box-service-detail
                h4 
                  a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
                    | Dịch vụ lau sàn
                h5 Our store operates worldwide and you can free delivery of all orders

      