extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='hoa-chat.html') Hóa chất
            li.breadcrumb-item.active Hóa chất chà sàn

  section.product-page
    .container
      .left
        .category
          h4
            | danh mục sản phẩm
          ul
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech    
      
      .main
        .title-page
          h5 Máy vệ sinh công nghiệp
          h1 Cung cấp máy móc
        
        .main-zone   
          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68

          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68

          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68

          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68

          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68

          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68
          
          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68

          .box-product
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
              h6 MSP: HC68
            

        .main-paging
          nav
            ul.pagination.justify-content-end
              li.page-item
                a.page-link(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
                  span.sr-only Previous
              li.page-item
                a.page-link.active(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#', aria-label='Next')
                  span(aria-hidden='true') »
                  span.sr-only Next 
