extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Giới thiệu

  section.page-detail
    .category
      h4
        | danh mục sản phẩm
        i.mdi.mdi-text.d-none.d-sm-block
        i.mdi.mdi-arrow-left.d-sm-none.d-block
      ul
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
    
    .container
      .title-page
        h1 Giới thiệu
      
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      img(src='../img/cate-1.png')
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
      
