extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')
      
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')

  section.aboutus
    .container
      .row
        .col-lg-5.col-xl-6
          .aboutus-img
            img.aboutus-img-large(src='../img/about-img-1.png')
            img.aboutus-img-small(src='../img/about-img-2.png')
        .col-lg-7.col-xl-6
          .aboutus-detail
            .title-page
              h5 Về chúng tôi
              h1 vệ sinh hoàng gia
            p Chúng tôi luôn sẵn sàng đáp ứng các nhu cầu cung cấp dịch vụ vệ sinh cho các tòa nhà cao tầng, các cao ốc, văn phòng công ty, Vệ sinh trường học, vệ sinh bệnh viện, nhà máy, xí nghiệp các khu công nghiệp, khu chế xuất, công trình sau xây dựng, nhà ở v.v. 
            p Nhân viên Hoàng Gia sẽ xử lý hệ thống làm sạch với các vết dơ trên sàn được tẩy rửa sạch sẽ, đặc biệt các vế dơ bám trên các sàn gỗ, thảm, ghế, kiếng ...cùng với dụng cụ, trang thiết bị thích hợp với công việc, chúng tôi còn cung cấp hóa chất công nghiệp chuyên dùng và cả hóa chất dân gian, tất cả các vết dơ sẽ được xử lý và để lại bề mặt hoàn toàn sạch sẽ thoáng mát, quý khách có thể tận hưởng một ngôi nhà lộng lẫy khang trang không dấu vết của bụi bầm.
            .aboutus-detail-btn
              a(href='gioi-thieu.html')
                | Xem thêm
                i.mdi.mdi-chevron-double-right
            .aboutus-detail-service
              h5 Chúng tôi có gì?
              .row
                .col-sm-4
                  .aboutus-detail-service-box
                    img(src='../img/about-icon-1.png')
                    h5 Dịch vụ vệ sinh công nghiệp
                .col-sm-4
                  .aboutus-detail-service-box
                    img(src='../img/about-icon-2.png')
                    h5 Hóa chất công nghiệp
                .col-sm-4
                  .aboutus-detail-service-box
                    img(src='../img/about-icon-3.png')
                    h5 Cung cấp máy móc
                
  section.service
    .container
      .title-page
        h5 Những dịch vụ nổi bật
        h1 DỊCH VỤ VỆ SINH CÔNG NGHIỆP

      .service-zone
        .box-service
          a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
            img(src='../img/service-1.png')
            h4 Báo giá đánh bóng sàn bê tông
        .box-service
          a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
            img(src='../img/service-1.png')
            h4 Báo giá đánh bóng sàn bê tông
        .box-service
          a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
            img(src='../img/service-1.png')
            h4 Báo giá đánh bóng sàn bê tông
        .box-service
          a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
            img(src='../img/service-1.png')
            h4 Báo giá đánh bóng sàn bê tông
        .box-service
          a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
            img(src='../img/service-1.png')
            h4 Báo giá đánh bóng sàn bê tông
        .box-service
          a(href='chi-tiet-dich-vu-ve-sinh-cong-nghiep.html')
            img(src='../img/service-1.png')
            h4 Báo giá đánh bóng sàn bê tông
      
      .service-all
        a(href='dich-vu-ve-sinh-cong-nghiep.html') Xem tất cả

  section.product
    .container
      .title-page
        h5 Sản phẩm nổi bật
        h1 máy VỆ SINH CÔNG NGHIỆP

      .product-zone
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-3.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-3.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
      .product-all
        a(href='san-pham.html') Xem tất cả

  section.home-bottom
    .container  
      .row
        .col-lg-6.mb-5.mb-lg-0
          .order
            .title-page
              h5 Liên hệ với chúng tôi nếu bạn muốn
              h1 ĐẶT HÀNG HOẶC DỊCH VỤ

            form(action="")
              input(type="text", placeholder="Họ tên:")
              input(type="text", placeholder="Email:")
              textarea(placeholder="Lời nhắn:")
              button Gửi liên hệ
            
            ul
              h5 Hoặc liên hệ trực tiếp:
              li
                a(href='tel:0909383939') 
                  i.mdi.mdi-deskphone
                  | 0909 38 39 39
              li
                a(href='mailto:info@vesinhcongnghiep.com.vn') 
                  i.mdi.mdi-email-outline
                  | info@vesinhcongnghiep.com.vn
        
        .col-lg-6
          .service-bonus
            .title-page
              h5 Một vài
              h1 DỊCH VỤ KÈM THEO

            .service-bonus-zone
              .box-service-bonus
                img(src='../img/service-bonus-1.png')
                h4 THỜI GIAN MỞ CỬA
                h5 Chúng tôi mở cửa từ 7h - 23h tất cả các ngày trong tuần
              .box-service-bonus
                img(src='../img/service-bonus-2.png')
                h4 hỖ TRỢ TRỰC TUYẾN
                h5 Tận tình, nhanh chóng, chuyên nghiệp, hiệu quả
              .box-service-bonus
                img(src='../img/service-bonus-3.png')
                h4 DỊCH VỤ VỆ SINH UY TÍN
                h5 Dịch vụ của chúng tôi uy tín hàng đầu VIệt Nam
              .box-service-bonus
                img(src='../img/service-bonus-4.png')
                h4 sẢN PHẨM CHẤT LƯỢNG
                h5 Sản phẩm chính hãng, giá cả hợp lý
              
  section.partner
    .container
      .owl-carousel.partner-carousel.owl-theme
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        .item
          img(src='../img/partner-1.png')
        