extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Liên hệ

  section.contact-page
    .category
      h4
        | danh mục sản phẩm
        i.mdi.mdi-text.d-none.d-sm-block
        i.mdi.mdi-arrow-left.d-sm-none.d-block
      ul
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        li
          a(href='san-pham.html') Máy mài nền liên hợp Cleantech
    
    .container
      .row
        .col-lg-8
          .box-contact
            form(action='')
              .row
                .col-md-6
                  .form-group
                    label(for='form-name') Họ tên:
                    input#form-name.form-control(type='text', name='name', placeholder='Nhập họ tên')
                .col-md-6
                  .form-group
                    label(for='form-phone') Số điện thoại:
                    input#form-phone.form-control(type='tel', name='phone', placeholder='Nhập số điện thoại')
                .col-md-6
                  .form-group
                    label(for='form-email') Email:
                    input#form-email.form-control(type='email', name='email', placeholder='Nhập Email')
                .col-md-6
                  .form-group
                    label(for='form-title') Tiêu đề:
                    input#form-title.form-control(type='text', name='title', placeholder='Nhập tiêu đề')
                .col-md-12
                  .form-group
                    label(for='form-content') Lời nhắn:
                    textarea#form-content.form-control(name='content', placeholder='Nhập lời nhắn')
              button.btn.btn-primary(type='submit')
                a gửi liên hệ
        .col-lg-4
          .map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.682219719884!2d106.67525431480135!3d10.835612992281416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528553eb77e5d%3A0x56bd7c72a29e738f!2zQ8O0bmcgSG_DoG5nIEdpYQ!5e0!3m2!1svi!2s!4v1552875870473', width='100%', height='430', frameborder='0', style='border:0', allowfullscreen='')

