extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Máy vệ sinh công nghiệp

  section.product-page
    .container
      .left
        .category
          h4
            | danh mục sản phẩm
            i.mdi.mdi-text.d-none.d-sm-block
            i.mdi.mdi-arrow-left.d-sm-none.d-block
          ul
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
            li
              a(href='san-pham.html') Máy mài nền liên hợp Cleantech
        
        .seller
          .title-left
            h5 sản phẩm bán chạy
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-2.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-2.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
          .box-seller
            .box-seller-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-seller-detail
              h6 Mã SP: ( 4FP1-6 )
              h5 
                a(href='chi-tiet-san-pham.html', title='Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )')
                  | Đĩa mài bê tông cấp 100 3000 ( 4FP1-6 )
          
      
      .main
        .title-page
          h3 Máy vệ sinh công nghiệp
        
        .main-zone  
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-2.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-2.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-1.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          
          .box-product
            span MỚI
            .box-product-img
              .box-product-img-custom
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a.custom-cart
                  i.mdi.mdi-cart-outline
              a(href='chi-tiet-san-pham.html')
                img(src='../img/product-3.png')
            .box-product-detail
              h6 Mã sản phẩm: HC68
              h5
                a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                  | Máy đánh bóng sàn HiClean HC 68
          

        .main-paging
          nav
            ul.pagination.justify-content-end
              li.page-item
                a.page-link(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
                  span.sr-only Previous
              li.page-item
                a.page-link.active(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#', aria-label='Next')
                  span(aria-hidden='true') »
                  span.sr-only Next 
